
/* این بخش به طور کلی مربوط به اسلاید ها و شیوه نمایش آن هاست */

/* هر اسلاید ابتدا ناپدید است و با کلیک روی لینک ها پدیداز می شود */
.mySlides {
  display: none;
  margin-left: 4rem;
  padding-right: 2rem;
}

/* رنگ محتوای اسلاید ها و پزیشن آن و پدینگ و مارجین و ابعاد */
.slideshow-container {
  position: relative;
  max-width: 40rem;
  margin-top: 4rem;
  color: #682538;
  text-shadow:  0 0 1px #ffffff,0 0 2px #a11b4f;
}

/* رنگ و ابعاد و دیگر ویژگی های آیکون های حرکت بین اسلاید ها */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgba(4, 56, 226, 0.8);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* با هاور کردن روی آیکون ها رنگ آنها تغییر می کند */
.prev:hover, .next:hover {
  background-color: rgba(4, 56, 226, 0.8);
  color:white;
}

/* ویژگی های نقاط نشان دهنده اسلاید */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:  rgba(4, 56, 226, 0.8);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* با هاور کردن روی نقطه ها یا انتخاب آنها رنگشان تغییر می کند */
.active, .dot:hover {
  background-color: white;
}


/* انیمیشن تغییر اسلاید ها */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}